// Main Imports
@use '../../node_modules/bootstrap/scss/bootstrap.scss';

// Utilities Imports
@use 'typography';

// Misc Imports
@use 'misc';

body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F6F8F9;
}